<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
		<title>WebGL Playground</title>

		<!-- CSS (load bootstrap from a CDN) -->
		<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
		<style>
		    /*body    { padding-top:50px; }*/
		</style>
	</head>
	<body>
		<h1> PlayGround </h1>`
		<script src="js/app.js"></script>
	</body>
</html>